

    
  
  <br>
  <br>
 <h1>Helloooo

 </h1>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <div></div>
  <div id="notification-container">
 <!-- <div #paymentRef></div>-->
    <div class="back" (click)="cancel()">Cancel</div>

    <div id="paypal-button-container"></div>
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>
  <br>
  <br>







  <!--
<div class="col-lg-3">
    <div class="card position-sticky top=0">
        <div class="paypal-container">
            <div class="amount"> Total amount to pay: {{this.cartTotal}}DKK

            </div>
            <div #paymentRef>

            </div>
      
            <p>payment works!</p>
            <br>


            <button class="back" (click)="cancel()" >Cancel</button>
        </div>
    </div>
</div>
-->