<div class="btn-container d-flex ps-4 ">
    <button class="btn btn-primary btn-lg my-4 my-sm-0" [routerLink]="['/admin-panel']">
    <i class="fas fa-arrow-left me-2"></i> Go Back
    </button>
    <!-- Add spacing between buttons -->
    <div class="ms-2"></div>

</div>


<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <h5>Choose Role:</h5>
            <div class="input-group mb-3">
                <select class="form-select" [(ngModel)]="selectedValue" (change)="onRoleChange($event)">
              <option value="0">Administrators</option>
              <option value="1">Members</option>
              <option value="2">Guests</option>
            </select>
            </div>
        </div>
    </div>

    <br>
    <div class="table">
        <div class="container mt-2">
            <table class="table table-hover table-stripped table-responsive">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody *ngIf=" (selectedValue==='0' ) && (users$ | async) as admins">
                    <!-- Admins Table -->
                    <tr *ngFor="let admin of admins ">
                        <td>{{ admin.firstName }}</td>
                        <td>{{ admin.lastName }}</td>
                        <td>{{ admin.email }}</td>
                        <!-- Display addresses for each admin -->
                        <td>

                        </td>

                </tbody>

                <tbody *ngIf="(selectedValue==='1') && (users$ | async) as members ">
                    <!-- Members Table -->
                    <tr *ngFor="let member of members ">
                        <td>{{ member.firstName }}</td>
                        <td>{{ member.lastName }}</td>
                        <td>{{ member.email }}</td>
                        <td>{{ member.address }}</td>

                    </tr>
                </tbody>
                <tbody *ngIf="selectedValue==='2' && (users$ | async) as guests">
                    <!-- Guests Table -->
                    <tr *ngFor="let guest of guests ">
                        <td>{{ guest.firstName }}</td>
                        <td>{{ guest.lastName }}</td>
                        <td>{{ guest.email }}</td>
                        <td>{{ guest.address }}</td>

                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


<!-- Modal for updating a member -->
<div class="modal " id="updateUserModal " tabindex="-1 " aria-labelledby="updateCategoryLabel " role="dialog " aria-hidden="true ">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h4 class="modal-title " id="exampleModalLabel ">Update Member</h4>
                <button type="button " class="btn-close " data-bs-dismiss="modal " aria-label="Close ">
                                <span aria-hidden="true ">&times;</span>
                            </button>
            </div>
            <div class="modal-body ">
                <form>
                    <div class="mb-3 ">
                        <label>Title<input [(ngModel)]="user.firstName " class="form-control " id="title " name="title " placeholder="Enter product title "></label>
                        <label>Description<input [(ngModel)]="user.lastName " class="form-control " id="description " name="description " placeholder="Enter product description "></label>
                        <label>Price<input [(ngModel)]="user.email " class="form-control " id="price " name="price " placeholder="Enter product price "></label>
                        <label>Stock<input [(ngModel)]="user.address " class="form-control " id="stock " name="stock " placeholder="Enter product stock "></label>
                        <!--<label>Category ID<input [(ngModel)]="product.categoryId " class="form-control " id="categoryId " name="categoryId " placeholder="Enter category ID "></label>-->
                    </div>
                    <button type="button " class="btn btn-primary btn-lg " data-bs-dismiss="modal ">Update</button>
                </form>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-warning " (click)="cancel() ">Cancel</button>
            </div>
        </div>
    </div>
</div>
