/* styles */

body {
    padding-top: 70px;
}

.logo {
    width: 180px;
    border: solid rgb(6, 7, 8);
    flex: 1;
    justify-content: center;
    /* Center horizontally */
    display: flex;
    align-items: center;
}

.fa-heart {
    color: red;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav .nav-link {
    font-size: 1.1em;
    padding: 0.5em 1em;
    cursor: pointer;
}

form {
    border-radius: 25px;
    position: relative;
}

button {
    position: relative;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
    align-items: center;
}

button:hover i,
.box:hover i {
    color: rgb(162, 163, 163);
}

.box {
    width: 300px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}